//Colors
// ===========================================================================

$main-color: #FF0000;
$secondary-color: #495460;
$third-color: #fff200;
$white-color: #fff;
$black-color: #000;
